@font-face {
    font-family: 'UniverseLight';
    font-style: normal;
    font-weight: 300;
    src: local('UniverseLight'), url(fonts/UniversLTStd-LightCn.otf) format('woff');
}

* {
    /* -webkit-font-smoothing: antialiased; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
